<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<h2>People who are interested int his book:</h2>

<% @books.each do |book| %>
  <%= link_to book.user.email,  user_path(book.user.id) %>
<% end %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
